<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="SAP development Tech Radar: Description">
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
    <title>SAP development Tech Radar</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  </head>

  <body>

    <div class="ps-4 mt-5 my-2 ">
      <h1 class="display-5 fw-bold text-center">%title%</h1>
      <div class="py-4">
        <p class="lead">%description%</p>
      </div>
    </div>

    <div class="row px-4">

      <h2 class="p-3 fw-bold">Technology Radar</h2>

      <div class="col-auto">
        <div class="card %color% mb-3" style="max-width: 18rem;">
          <div class="card-header">Ring</div>
          <div class="card-body">
            <h5 class="card-title">%ring%</h5>
            <p class="card-text">The technology %title% is in the ring <b>%ring%</b></p>
          </div>
        </div>
      </div>  

      <div class="col-auto">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Quadrant</div>
          <div class="card-body">
            <h5 class="card-title">%quadrant%</h5>
            <p class="card-text">The technology %title% is in the quadrant <b>%quadrant%</b></p>
          </div>
        </div>
      </div>
      
    </div>

    <div class="container-fluid">
      
      <div class="pt-4 ps-4">
        <h2 class="fw-bold">Reason for positioning</h2>
        <div class="">
          <p>%reason%</p>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      
      <div class="p-4 list-group">

        <hr class="border border-primary border-3 opacity-75">
        <h2 class="fw-bold">References</h2>
        <ul class="list-group list-group-flush">
          %references%
        </ul>

       
      </div>
    </div>

    

  </body>
</html>
