body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
h2 {
  margin-top: 50px;
  margin-left: 50px;
}
.text {
  margin-left: 50px;
}
li {
  margin: 25px 50px 0 0;
}

td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}
